<div class="container">
  <div class="row">
    <div
      style="margin-top: 3rem"
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
    >
      <input
        style="margin-bottom: 1rem"
        type="text"
        [(ngModel)]="filteredStatus"
      />
      <br />
      <button class="btn btn-primary" (click)="onAddServer()">
        Add server
      </button>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)"
        >
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 10 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date: "shortDate" | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
